<% favorites.each do |f| %>
  <li class="media favorite_destination">
    <div class="row media-body">
      <div class="col-md-4">
        <% if f.destination.schedules.any? %>
          <span><%= link_to destination_path(f.destination), class: 'post-type-schedule' do %><i class="fas fa-calendar-alt"></i> Schedule<% end %></span>
        <% else %>
          <span><%= link_to destination_path(f.destination), class: 'post-type-destination' do %><i class="fas fa-map-marked-alt"></i> Destination<% end %></span>
        <% end %>
        <div class='username'>Posted by <%= link_to f.destination.user.name, f.destination.user %></div>
        <span>
          <%= link_to((image_tag f.destination.picture.thumb200.url), destination_path(f.destination.id), class: "destination-picture") if f.destination.picture.url.present? %>
        </span>
        <div>
          <%= render 'users/favorite_form', destination: f.destination %>
        </div>
        <div>
          <span class='edit'>
            <% if current_user == f.destination.user %>
              <%= link_to 'Edit', edit_destination_path(f.destination) %>
            <% end %>
            <% if current_user.admin? || (current_user == f.destination.user) %>
              <%= link_to 'Delete', destination_path(f.destination), method: :delete, data: { confirm: "Are you OK?" }  %>
            <% end %>  
          </span>
        </div>
      </div>
      
      <div class="col-md-8 feed-detail">
        <span class='to'>Destination: <%= f.destination.to %></span>
        <span class='from'>From: <%= f.destination.from %></span>
        <span class='date'>Date: <%= f.destination.date %></span>
        <span class='time'>Time required: <%= f.destination.time %></span>
        <span class='outline'><%= f.destination.outline %></span>
      </div>
    </div>
  </li>
<% end %>
