<% provide(:title, 'Edit Profile') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        
        <%= form_with model: @user, local: true do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            
            <div class="gravatar_edit">
                <%= gravatar_for(@user, size: 40) %>
                <a href="http://gravatar.com/emails" target="_blank">Change Profile picture</a>
            </div>
            
            <div class="form-group">
                <%= f.label :name, 'Name' %>
                <%= f.text_field :name, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :email, 'Email' %>
                <%= f.email_field :email, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :introduce, 'Introduction' %>
                <%= f.text_area :introduce, class: 'form-control' %>
            </div>
            
            <%= f.submit 'Update', class: 'btn btn-primary btn-block' %>
            
            <p></p>
            
            <%= link_to "Delete Account", user_path(@user), method: :delete,
                                          data: { confirm: "Are you OK？" } %>
            
        <% end %>
    </div>
</div>