<% provide(:title, @title) %>
<div class="container">
  <h3 class="title-profile">Follow/Follower</h3>
    <div class="row">
      <div class="col-md-4">
        <%= gravatar_for @user, size: 120 %>
      </div>
      
      <div class="col-md-8">
        <h4 class="show-user-name"><%= link_to @user.name, user_path(@user) %></h4>
      
        <div>
          <%= @user.introduce %>
        </div>
      
      </div>

    <main class="p3 col-md-8 offset-md-2">
      <h1>Follow</h1>
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">
            Follow 
          </a>
        </li> 
        <li class="nav-item">
          <a href="<%= followers_user_path(@user) %>" class="nav-link  <%= 'active' if current_page?(followers_user_path(@user)) %>">
            Follower 
          </a>
        </li>
      </ul>
      <%= render 'follow_feed', users: @followings %>
    </main>
  </div>
</div>