<% provide(:title, @title) %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div>
        <%= gravatar_for @user %>
        <h2 class="follow-profile"><%= link_to @user.name, @user %></h2>
      </div>
    </div>

    <main class="col-md-8">
      <h1>Follower</h1>
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">
            Follow <span class="badge badge-secondary" data-turbolinks="false" id="followings"><%= @user.followings.count %></span>
          </a>
        </li> 
        <li class="nav-item">
          <a href="<%= followers_user_path(@user) %>" class="nav-link  <%= 'active' if current_page?(followers_user_path(@user)) %>">
            Follower <span class="badge badge-secondary"><%= @user.followers.count %></span>
          </a>
        </li>
      </ul>
      <%= render 'follow_feed', users: @followers %>
    </main>
  </div>
</div>
