<% provide(:title, "Profile") %>
  <div class="container">
    <h3 class="title-profile">Profile</h3>
    <div class="row">
      <div class="col-md-4">
        <%= gravatar_for @user, size: 120 %>
      </div>
      
      <div class="col-md-8">
        <h4 class="show-user-name"><%= @user.name %></h4>
      
        <div>
          <%= @user.introduce %>
        </div>
        
        <section class="stats">
          <%= render 'shared/stats', user: @user %>
        </section>
      
        <% if current_user == @user %>
          <div class="profile-edit"><%= link_to 'Edit Profile', edit_user_path(@user) %></div>
        <% else %>
          <div id="follow_button" data-turbolinks="false">
            <%= render 'users/follow_button', user: @user %>
          </div>
        <% end %>
      </div>
      
      <main class="p-3 col-md-8 offset-md-2">
        <ul class="nav nav-tabs nav-justified">
          <li class="nav-item">
            <a href="#post" class="nav-link active" data-toggle="tab">Posts</a>
          </li>
          <li class="nav-item">
            <a href="#favorite" class="nav-link" data-toggle="tab">Favorites</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="post" class="tab-pane active destinations">
            <%if @user.destinations.any? %>
              <%= render 'destinations/destination', destinations: @destinations %>
              <%= paginate @destinations %>
            <% end %>
          </div>
          <div id="favorite" class="tab-pane">
            
          </div>
        </div>
      </main>  
    </div>
  </div>

