<% destinations.each do |destination| %>
  <li class="media">
    <div class="row media-body">
      <div class="col-md-4">
       
        <span>
          <%= link_to((image_tag destination.picture.thumb200.url), destination_path(destination.id), class: "destination-picture") if destination.picture.url.present? %>
        </span>
        <div>
          <%= render 'users/favorite_form', destination: destination %>
        </div>
      </div>
      <div class="col-md-8">
        <span class='to'><%= link_to destination.to, destination_path(destination) %></span><br>
        <span class='from'>From: <%= destination.from %></span>
        <span class='date'>Date: <%= destination.date %></span><br>
        <% unless destination.time.blank? %>
        <span class='time'>Time required: <%= destination.time %></span>
        <% end %>
        <span class='outline'><%= destination.outline %></span>
        <span class='username'>User: <%= link_to destination.user.name, destination.user %></span>
        <div>
          <span class='edit'>
            <% if current_user == destination.user %>
              <%= link_to 'Edit', edit_destination_path(destination) %>
            <% end %>
            <% if current_user.admin? || (current_user == destination.user) %>
              <%= link_to 'Delete', destination_path(destination), method: :delete, data: { confirm: "Are you OK?" }  %>
            <% end %> 
          </span>
        </div>
        
      </div>
    </div>
  </li>
<% end %>
