<div class='new-schedule-title'>Schedule outline</div>
<%= form_with model: @destination, local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <script type="text/javascript">
    $('#dish_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('アップロードできる写真の最大サイズは5MBです。5MB以下の画像を選択してください');
      }
    });
  </script>
  
  <span class="picture">
    <%= f.label :picture %>　<span class="optional">※Optional</span>
    <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control s-picture', id: 'destination_picture' %>
  </span>
  
  <div class="form-group">
    <%= f.label :to, 'Destination' %>　<span class="required">※Required</span>
    <%= f.text_field :to, class: "form-control s-to", id: 's-to' %>
  </div>
  
  <div class="form-group">
    <%= f.label :from %>　<span class="required">※Required</span>
    <%= f.text_field :from, class: "form-control s-from", id: 's-from' %>
  </div>

  <div class="form-group">
    <%= f.label :date, 'Dates' %>　<span class="required">※Required</span>
    <%= f.text_field :date, class: "form-control s-date", id: 's-date' %> 
  </div>
  
  <div class="form-group">
    <%= f.label :outline %>　<span class="optional">※Optional</span>
    <%= f.text_field :outline, class: "form-control s-outline", id: 's-outline' %>
  </div>
  
  <div>
    <%= f.fields_for :schedules do |schedule| %>
      <%= render 'schedule_fields', f: schedule %>
    <% end %>
  </div>
  
  <div class="links">
      <%= link_to_add_association 'Add Schedule', f, :schedules, class: 'add_schedule' %> 
  </div>
  
  <div class="form-group">
    <%= f.label :reference %>　<span class="optional">※Optional</span>
    <%= f.text_area :reference, class: "form-control s-reference", id: 's-reference' %>
  </div>
  
  <%= f.submit 'Post', class: 'btn btn-primary btn-block', id: 's-button' %>
  
<% end %>