<% provide(:title, "Edit: #{@destination.to}") %>
<div class="container">
  <h3 class="text-center">Edit</h3>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= form_with model: @destination, local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
      
        <div class="form-group">
          <%= f.label :to, 'Destination' %>　<span class="required">※Required</span>
          <%= f.text_field :to, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :from %>　<span class="required">※Required</span>
          <%= f.text_field :from, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :time %>　<span class="required">※Required</span>
          <%= f.text_field :time, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :date %>　<span class="required">※Required</span>
          <%= f.date_field :date, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :outline %>　<span class="optional">※Optional</span>
          <%= f.text_field :outline, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :detail %>　<span class="required">※Required</span>
          <%= f.text_area :detail, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :notice, 'Notice/Advice' %> <span class="optional">※Optional</span>
          <%= f.text_area :notice, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :reference %>　<span class="optional">※Optional</span>
          <%= f.text_area :reference, class: "form-control" %>
        </div>
        
        <%= f.submit 'Update', class: 'btn btn-primary btn-block' %>
      <% end %>
      <%= link_to 'Delete', destination_path(@destination), method: :delete, data: { confirm: "Are you OK?" }  %>
      
    </div> 
  </div>
 </div> 